.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #222;
  color: white;
}

.header h1 {
  margin: 0;
}

.header nav {
  display: flex;
  gap: 20px;
}

.header nav a {
  color: white;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}


.cart-count {
  background-color: #db7867;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}